<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址-->
<mapper namespace="com.lvmama.dao.AttDetailMapper">


    <insert id="insertAttDetail" parameterType="attDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into
        att_detail(name,start_time,end_time,minute,month,user_no,card_no,door_no,door_name,create_time,update_time)VALUE
        (#{name},#{startTime},#{endTime},#{minute},#{month},#{userNo},#{cardNo},#{doorNo},#{doorName},#{createTime},#{updateTime})
    </insert>


</mapper>



